<div class="css">
    <div class="left">
        <h1>編集する</h1>

        <%= render 'form', feed: @feed %>

        <%= link_to '詳しく見る', @feed, class:"link_button" %>
        <%= link_to '戻る', feeds_path, class:"link_button" %>
    </div>
</div>
