<div class="css">
    <div class="left">
        <h1>投稿する</h1>
        <br>
        <br>
        <%= render 'form', feed: @feed %>
        <br>
        <br>
        <%= link_to '投稿一覧へ', feeds_path, class:"link_button" %>
    </div>
</div>
